.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    margin: 0 10vw 0 10vw;
}

.title{
    text-align: center;
}

hr{
    border: solid black 1px;
    margin: 0;
    width: 100%;
}

.viewDataTable{
    width: 80vw;
    text-align: center;
    border: solid black 2px;
    th,tr,td{
    border: solid black 2px;
    }
}

.optionsMenu{
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.addDataBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.addDataButton{
    align-self: flex-end;
}

.addDataOptions{
    display: flex;
    justify-content:flex-start;
    column-gap: 2vw;
}

.addDataTable{
    width: 80vw;
    td{
        padding: 1vh 1vw 1vh 1vw;
    }
}

#studentRollNo, #studentName{
    height: 6vh;
    min-height: 20px;
    max-height: 50px;
    width: 20vw;
}